* {
  margin: 0;
  padding: 0;
}

.main-projects {
  height: 100vh;
  width: 100%;
}

.main-projects-first {
  height: 100%;
  width: 100%;
}

.projects-first {
  height: 100%;
  width: 100%;
}

.rxd3y2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rxd3y2 h1 {
  font-size: 3.3rem;
}

.uiw2xsa {
  overflow: hidden;
}
