#root,
html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Aalto";
  src: url(../Fonts/Aalto.otf);
}

@font-face {
  font-family: "Dirtyline";
  src: url(../Fonts/Dirtyline.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.first-section-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

.first-section-main h1 {
  font-family: "Dirtyline";
  font-style: normal;
  font-weight: 500;
  font-size: 11vw;
  letter-spacing: 2px;
}

.front-text {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: default;
}

.bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.location {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 600;
  cursor: default;
}

.frontend {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  cursor: default;
}
