@import url("https://fonts.googleapis.com/css2?family=Federo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.second-section-main {
  height: 100vh;
  width: 100%;
}

.main-second-section {
  height: 100%;
  width: 100%;
}

.firstImg {
  width: 479px;
  height: 400px;
  border-radius: 50%;
  margin-right: 40px;
  margin-top: 100px;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.imageAndButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 150px;
}

.first h1 {
  font-weight: 500;
  width: 87%;
  margin-left: 40px;
}

@media (max-width: 800px) {
  .firstImg {
    display: none;
  }

  .imageAndButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
  }

  .first h1 {
    text-align: center;
    margin-left: 0px;
  }

  .button {
    text-align: center;
  }
}
